<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="container px-4 px-lg-5">
    <a class="navbar-brand h1 fw-bold titleColor" routerLink="/">NTT DATA</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
        class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
        <li class="nav-item dropdown">
          <a routerLink="/" class="nav-link dropdown-toggle routerLink fw-bold" id="navbarDropdown" href="#"
            role="button" data-bs-toggle="dropdown" aria-expanded="false">Home</a>
        </li>
        <li class="nav-item"><a class="nav-link fw-bold" [routerLink]="['/grid-default']" href="#!">Grid default</a>
        </li>
        <li class="nav-item"><a class="nav-link fw-bold" [routerLink]="['/shop-left-sider']" href="#!">Left sidebar</a>
        </li>
        <li class="nav-item"><a class="nav-link fw-bold" [routerLink]="['/faq']" href="#!">Faq</a>
        </li>
        <li class="nav-item"><a class="nav-link fw-bold" [routerLink]="['/about-us']" href="#!">About Us</a></li>
        <li class="nav-item"><a class="nav-link fw-bold" [routerLink]="['/contact-us']" href="#!">Contact Us</a></li>
      </ul>
      <form class="d-flex">
        <input class="form-control" type="search" aria-label="Search">
        <button class="btn backgroundColor text-white" type="submit">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
            viewBox="0 0 16 16">
            <path
              d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
          </svg>
        </button>
      </form>
    </div>
  </div>
</nav>
