<app-hero-section sectionTitle="About Us" pageName="Home Page" sectionSlogan=" .About Us"></app-hero-section>
<section class="container mt-5 mb-5">
  <div class="d-flex column justify-content-end">
    <img src="assets/image-ecom.png" />
    <div>
      <h3 class="titleColor">Know About Our Ecomerce<br>Buisness History</h3>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto illo expedita,<br> unde assumenda cum doloribus
        quod vitae, nisi laudantium hic explicabo, minima laboriosam officia optio cumque molestias corporis. Quas,
        molestiae?</p>
      <a routerLink="/contact-us" class="btn backgroundColor text-white mt-4 mb-4">Contact Us</a>
    </div>
  </div>
  <div class="d-flex row">
    <h3 class="text-center mt-4 mb-4">Our Features</h3>
    <div class="container d-flex column justify-content-between mt-5 mb-5">
      <div class="card shadow" style="width: 15rem;">
        <img src="assets/delevery.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title titleColor">Free Delevery</h5>
          <p class="card-text text-dark-50">Some quick example text to build on the card title and make up the bulk of
            the card's
            content.</p>
        </div>
      </div>
      <div class="card shadow" style="width: 15rem;">
        <img src="assets/cashback.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title titleColor">100% Cash Back</h5>
          <p class="card-text text-dark-50">Some quick example text to build on the card title and make up the bulk of
            the card's
            content.</p>

        </div>
      </div>
      <div class="card shadow" style="width: 15rem;">
        <img src="assets/quality.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title titleColor">Quality Product</h5>
          <p class="card-text text-dark-50">Some quick example text to build on the card title and make up the bulk of
            the card's
            content.</p>
        </div>
      </div>
      <div class="card shadow" style="width: 15rem;">
        <img src="assets/24-support.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title titleColor">24/7 Support</h5>
          <p class="card-text text-dark-50">Some quick example text to build on the card title and make up the bulk of
            the card's
            content.</p>
        </div>
      </div>
    </div>
  </div>
</section>
