<app-hero-section sectionTitle="Order Completed" sectionSlogan="Order Completed"></app-hero-section>
<section class="order-completed-main-content p-5 m-4">
  <div class="container">
    <div class="row ">
      <img class="clock_image_bg" src="/assets/order-completed/clock_image.png" alt="">
      <div class="col-12 d-flex flex-column justify-content-center">
        <div class="iamges_bg d-flex justify-content-center">
          <img class="image" src="/assets/order-completed/image.png" alt="">
          <span class="circle"></span>
          <img class="verify_image" src="/assets/order-completed/verify_image.png" alt="">
        </div>
        <div class="content d-flex flex-column text-center justify-content-center">
          <h2>You Order Is Completed!</h2>
          <p>Thank you for your order! Your order is being processed and will be completed within 3-6
            <br class="d-none d-xl-block">hours. You will receive an email confirmation when your order is completed.
          </p>
          <a class="p-2" (click)="continueShoppingFunction()">Continue Shopping</a>
        </div>
      </div>
      <img class="checklist_image" src="/assets/order-completed/chicklist_image.png" alt="">
    </div>
  </div>
</section>
