/* You can add global styles to this file, and also import other style files */
.textColor{
  color : rgba(251,46,134,255)
}
.backgroundColor{
  background-color: rgba(251,46,134,255);
}
.titleColor{
  color: rgba(35,55,124,255);
}
.card-box{
  transition: box-shadow .3s;
}
.card-box:hover{
  box-shadow: 0 0 20px rgba(66,66,66,.5);
}
